<h1><b>The Pokemon League</b></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Points</th>
    </tr>
    </thead>
      <tbody>
        <% @trainers.each do |trainer| %>
        <tr>
          <td> <%= trainer.name %></td>
          <td><%= trainer.points %></td>
        </tr>
        <% end %>
</table>
