<!DOCTYPE html>
<html>
<head>
  <title>Pokemon League</title>
<link rel="stylesheet" type="text/css" href="styles.css">
<link rel="stylesheet" type="text/css" href="/styles/tables.css">
<link rel="stylesheet" type="text/css" href="/styles/structure.css">
</head>
<body>
  <main class="flex flex--row">
  <nav class="header">
    <ul>
      <li><a class="home" href="/">Home</a></li>
      <li><a class="pagelink" href="/trainers">Trainers</a></li>
      <li><a class="pagelink" href="/monsters">Pokemon</a></li>
      <li><a class="pagelink" href="/matches">Matches</a></li>
    </ul>
  </nav>
  <section id="Options">
  <%= yield %>
  </section>
  </main>
</body>
</html>
