<!DOCTYPE html>
<html>
<head>
  <title><b><h1>Pokemon League</h1></b></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/trainers"><b>Trainers</b></a>
      </li>
      <li>
        <a href="/matches"><b>Matches</b></a>
      </li>
    </ul>
  </nav>
  <section id="Options">
  <%= yield %>
  </section>
</body>
</html>
