<!DOCTYPE html>
<html>
<head>
  <title>Pokemon League</title>
  <link href="styles/style.css" rel="stylesheet">
</head>
<body>
  <main>
  <nav>
    <ul>
      <li>
        <a href="/"><b>Home</b></a>
      </li>
      <li>
        <a href="/trainers"><b>Trainers</b></a>
      </li>
      <li>
        <a href="/monsters"><b>Pokemon</b></a>
      </li>
      <li>
        <a href="/matches"><b>Matches</b></a>
      </li>
    </ul>
    <hr/>
  </nav>
  <section id="Options">
  <%= yield %>
  </section>
  </main>
</body>
</html>
