<p>Congratulations to <%= @match.get_match_winner.name %>
on their recent victory!</p>
<p>They now have  <%= @match.get_match_winner.points %> points</p>

 <img src="/images/thumbs_up.jpg" alt="Thumbs-Up"/>
