<form method="post" action="/matches" >

<p><h2><b>Rules:</b></h2></p>
<ol>
  <li>Matches are best of three.</li>
  <li>A trainer cannot face themselves.</li>
</ol>
<p><b>Note:</b> You will be redirected to this page if any of these conditions are not met.</p>
<hr>

<label for="trainer1-select">Trainer Name: </label>
<select name="trainer1_id" id="trainer1-select">
  <% @trainers.each do |trainer| %>
    <option value=<%= trainer.id %>><%= trainer.name %></option>
  <% end %>
</select>
<br>

<label for="home-score">Score: </label>
<select name="home_score" id="home-score">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
<br>

<label for="trainer2-select">Trainer Name: </label>
<select name="trainer2_id" id="trainer2-select">
  <% @trainers.each do |trainer| %>
    <option value=<%= trainer.id %>><%= trainer.name %></option>
  <% end %>
</select>

<br>

<label for="away-score">Score: </label>
<select name="away_score" id="away-score">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
<br>

<input type="submit" value="Submit Match">

</form>
