<h1> Trainer List: </h1>


<% @trainers.each do |trainer| %>
<p><%= trainer.name %></p>
<p><a href="/trainers/<%= trainer.id %>"> Trainer Profile </a></p>
<hr>
<% end %>

<p><a href="/trainers/new"> Add Trainer </a></p>
