<body>
<h1><b>Trainer List:</b></h1>

<% @trainers.each do |trainer| %>
<p><%= trainer.name %></p>
<p><a href="/trainers/<%= trainer.id %>"><u>Trainer Profile</u></a></p>
<hr>
<% end %>

<p><a href="/trainers/new"> Add Trainer </a></p>

</body>
