<form method="post" action="/trainers" >

<label for="name">Name: </label>
<input type="text" id="name" name="name">

<label for="hometown">Hometown: </label>
<input type="text" id="hometown" name="hometown">

<label for="age">Age: </label>
<input type="number" id="age" name="age">

<input type="submit" value="Add Player">

</form>
