<form method="post" action="/trainers" >

<label for="name">Name: </label>
<input type="text" id="name" name="name">

<label for="hometown">Hometown: </label>
<input type="text" id="hometown" name="hometown">

<input type="submit" value="Enter Trainer">

</form>
