<h1><b><u>Pokemon Roster:</u></b></h1>

<% @monsters.each do |monster| %>
  <p> <%= monster.name %></p>
  <p><a href="/monsters/<%= monster.id %>"> Pokemon Profile </a></p>
  <hr/>
<% end %>

<p><a href="/monsters/new"> Add Pokemon </a></p>
