<h1> Pokemon Available: </h1>

<% @monsters.each do |monster| %>
  <p> Name: <%= monster.name %></p>
  <p><a href="/monsters/<%= monster.id %>"> Pokemon Profile </a></p>
  <hr/>
<% end %>

<p><a href="/monsters/new"> Add Pokemon </a></p>
