<form method="post" action="/monsters" >

<p><h2><b>New Pokemon Rules:</b></h2></p>
<ol>
<li>A trainer can have only one of each pokemon in their team.</li>
</ol>
<p>You will be redirected to this page if any of these conditions are not met.</p>
<hr>

<label for="name">Name: </label>
<input type="text" id="name" name="name">
<br>
<label for="type">Type: </label>
<input type="text" id="type" name="type">
<br>
<label for="level">Level: </label>
<input type="number" id="level" name="level">
<br>
<input type="submit" value="Add Pokemon">
<br>
</form>
