
<p><b>Name: </b><%= @monster.name %></p>
<p><b>Type: </b><%= @monster.type %></p>
<p><b>Level: </b><%= @monster.level %></p>


<a href="/monsters/<%= @monster.id %>/edit">Edit Pokemon</a>
</form>
<hr>
<p><a href='/monsters'> Back To Pokemon</a></p>
